@media screen {
    .features-list {
        display: flex;

        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 72px;
        column-gap: 24px;
    }

    .features-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-basis: calc((100% - 1 * 24px) / 2);
        gap: 8px;
    }

    .feature-decoration {

        display: none;
        align-items: center;
        justify-content: center;

        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 100%;

        background: #f4f4fd;
    }

    .feature-decoration-icon {
        margin: 24px 0;
    }

    .features-subtitle {

        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;

        letter-spacing: 0.02em;
    }

    .features-text {
        color: #434455;

        font-weight: 500;
    }
}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .features-subtitle {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .features-list {
        flex-wrap: nowrap;
    }

    .feature-decoration {
        display: flex;
    }

    .features-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features-text {
        font-weight: 400;
    }
}