.features-section {
    padding: 96px 0;
}


.features-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 72px;
}

.features-item {
    width: 100%;
}


.feature-decoration {
    display: none;
}

.features-subtitle {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .features-list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        row-gap: 72px;
    }

    .features-subtitle {
        text-align: left;
    }
}


@media screen and (min-width: 1158px) {
    .features-section {
        padding: 120px 0;
    }

    .features-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }

    .feature-decoration {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        margin-bottom: 8px;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
    }

    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features-text {
        font-weight: 400;
    }
}