.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: stretch;
}

.features-item {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .features-section {
        padding: 120px 0;
    }

    .features-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }
}