@media screen {
    .footer-section {
        background-color: #2e2f42;

        padding: 96px 0;
    }

    .footer-section .logo,
    .footer-section .footer-text {
        color: #f4f4fd;
    }

    .footer-section .logo .web {
        color: #4d5ae5;
    }

    .footer-section .container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        row-gap: 72px;
    }

    .footer-left {

        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-section .logo,
    .footer-section .footer-socials-caption {
        display: inline-block;
        margin-bottom: 16px;
    }

    .footer-socials-section {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .footer-socials-caption {
        font-weight: 500;
        color: #fff;
    }

    .footer-socials-list {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .footer-socials-list .social-link:hover,
    .footer-socials-list .social-link:focus {
        background-color: #31d0aa;
    }

    .footer-subscribe-section {

        width: 100%;
    }

    .subscribe-form {
        display: flex;

        width: 100%;
    }

    .subscribe-form-wrapper {
        display: flex;
        flex-direction: column;

        align-items: center;
        gap: 16px;
    }

    .subscribe-input-wrapper {

        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 16px;
    }

    .subscribe-caption {
        width: 75px;
        font-weight: 500;
        color: #fff;
    }

    .subscribe-input {
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 8px 16px;
        /* width: 264px; */
        width: 100%;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;

        color: #fff;
        background-color: transparent;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .subscribe-input::placeholder {
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #fff;
    }

    .subscribe-input:focus {
        outline: none;


        border-color: #31d0aa;
    }

    .subscribe-button {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 16px;

        border-radius: 4px;
        padding: 8px 24px;
        width: 165px;
        height: 40px;
        max-width: 165px;

        font-weight: 500;

        color: #fff;
        background-color: #4d5ae5;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .subscribe-button:hover,
    .subscribe-button:focus {
        background-color: #31d0aa;
    }
}

@media screen and (min-width: 768px) {
    .footer-left {
        margin-right: 24px;
        align-items: start;
    }

    .footer-section .container {
        padding: 0 108px;
        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;
    }

    .footer-socials-section {
        align-items: start;
    }

    .footer-subscribe-section {
        width: 453px;
    }

    .subscribe-form-wrapper {
        align-items: start;
    }

    .subscribe-input-wrapper {
        flex-direction: row;
        justify-content: left;
        gap: 24px;
    }

    .subscribe-input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-section {
        padding: 100px 0;
    }

    .footer-left {
        margin-right: 120px;
    }

    .footer-section .container {
        padding: 0 16px;

        flex-wrap: nowrap;
    }

    .footer-subscribe-section {
        margin-left: auto;
    }
}