.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    padding: 16px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo .web {
    color: #4d5ae5;
}


.nav {
    display: none;
}

.contacts {
    display: none;
}

.button-burger {
    margin-left: auto;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.nav .menu-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav .menu-link:hover,
.nav .menu-link:focus,
.contacts .contact-link:hover,
.contacts .contact-link:focus,
.menu-list .current {
    color: #404bbf;
}

.nav .menu-link.current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    content: "";
    background-color: #404bbf;
    border-radius: 2px;
}


.contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts .contact-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



@media screen and (min-width: 768px) {
    .header .container {
        justify-content: flex-start;
    }

    .button-burger {
        display: none;
    }

    .logo {
        margin-right: 0;
        padding: 24px 0;
    }

    .nav {
        display: block;
        margin-left: 120px;
    }

    .contacts {
        display: block;
        margin-left: auto;
    }

    .contact-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
}


@media screen and (min-width: 1158px) {
    .nav {
        margin-left: 76px;
    }

    .contact-list {
        flex-direction: row;
        gap: 40px;
    }

    .contact-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}