.hero-title {
    max-width: 216px;
    margin: 0 auto 48px;
}

.hero-section {
    max-width: 320px;
    margin: 0 auto;
    padding: 72px 0;
    background-image: image-set(url('../images/hero-bg.jpg') 1x,
            url('../images/hero-bg@2x.jpg') 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .hero-title {
        max-width: 496px;
    }

    .hero-section {
        max-width: 768px;
        padding: 112px 0;
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        max-width: 1440px;
        padding: 188px 0;
    }
}