.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-card {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-card {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding: 120px 0;
    }

    .portfolio-list {
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-card {
        width: calc((100% - 48px) / 3);
    }
}