.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.team-card {
    width: 264px;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-card {
        width: calc((100% - 24px) / 2);
        max-width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .team-card {
        width: calc((100% - 72px) / 4);
        max-width: 264px;
    }
}