.features-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.features-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: calc((100% - 3 * 24px) / 4);
    gap: 8px;
}

.feature-decoration {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;

    background: #f4f4fd;
}

.feature-decoration-icon {
    margin: 24px 0;
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-text {
    color: #434455;
    letter-spacing: 0.02em;
}