.backdrop {
    background-color: #2e2f4266;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: opacity 250ms ease-in-out;
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    position: relative;

    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow:
        0 1px 1px 0 #00000024,
        0 1px 3px 0 #0000001f,
        0 2px 1px 0 #00000033;

    width: 288px;

    height: 619px;
    overflow-y: auto;


    padding: 72px 16px 16px;
}

.close-buton {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 24px;
    right: 24px;

    border: 1px solid #2e2f4266;
    border-radius: 24px;
    width: 24px;
    height: 24px;
    background: #e7e9fc;

    color: #2e2f42;

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-buton:hover,
.close-buton:focus {
    border-color: #404bbf;
    border-radius: 24px;
    width: 24px;
    height: 24px;

    color: white;

    background-color: #404bbf;
}

.close-icon {
    fill: currentColor;
}

.modal-text {
    margin-bottom: 16px;

    font-weight: 500;
    text-align: center;
    color: #2e2f42;
}

.form {
    display: flex;
    flex-direction: column;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;


    width: 256px;
}

.text-fields {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-label {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;

    color: #8e8f99;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-input {
    background-color: transparent;

    border: 1px solid #2e2f4266;
    border-radius: 4px;

    max-width: 360px;
    min-height: 40px;

    padding: 0 38px;

    color: #434455;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
    background-color: transparent;

    border: 1px solid #2e2f4266;
    border-radius: 4px;
    padding: 8px 16px;


    width: 256px;
    height: 120px;

    resize: none;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
    color: #2e2f4266;
}

.form-input:focus,
.form-textarea:focus {
    outline: none;
    border-color: #4d5ae5;
}

.input-svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.input-svg {
    fill: #4d5ae5;
}

.input-svg {
    position: absolute;
    top: 8px;
    left: 16px;
}

.privacy-policy-label {
    display: flex;
    gap: 8px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox-icon {
    /* fill: transparent; */
    fill: #f4f4fd;
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.original-checkbox:checked+.privacy-policy-label>.custom-checkbox {
    background-color: #404bbf;
}

.original-checkbox:checked+.privacy-policy-label .custom-checkbox-icon {
    /* fill: #f4f4fd; */
    opacity: 1;
}

.original-checkbox:focus+.privacy-policy-label>.custom-checkbox {
    outline: auto;
}

.privacy-policy-text {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-policy-link {
    line-height: 1.17;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.form-button {
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 500;
    letter-spacing: 0.04em;

    background-color: #4d5ae5;
    color: #fff;

    border-radius: 4px;

    box-shadow: 0 4px 4px 0 #00000026;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        height: 582px;

        padding: 72px 24px 24px;
    }

    .fields {
        width: 360px;
    }

    .form-textarea {
        width: 360px;
    }
}